* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
}

/* summary */
.summary {
  width: 800px;
  background-color: rgb(226, 221, 221);
  margin: auto;
}
