* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
}

/* summary */
.summary {
  width: 800px;
  background-color: rgb(226, 221, 221);
  margin: auto !important;
}

ul.coinsList {
  padding-left: 0;
}

/*Coin component*/
.coinList-item img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.coinList-item {
  height: 100px;
  margin: auto;
  box-shadow: 1px solid rgb(0, 0, 0, 0.8);
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 10px;
}

.coin:hover .delete-icon {
  display: block;
}
.coin:hover .price-change {
  margin-right: 15px;
}
